In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import importlib

from IPython.display import display
pd.set_option('display.max_columns', 99)
pd.set_option('display.max_rows', 200)
pd.reset_option('display.float_format')
pd.set_option('display.max_colwidth', None)

from sitecustomize import ROOT # lib này được khởi tạo ban đầu dự án

import helpers.view as view
import helpers.EDA as EDA

importlib.reload(view)
importlib.reload(EDA)

# credit card balance (số dư khoản vay tín dụng - Revolving loans)

In [2]:
credit_balance = pd.read_pickle(ROOT + "/data/pkl/credit_card_balance.p")

In [3]:
prev = pd.read_pickle(ROOT + "/data/pkl/previous_application.p")

In [4]:
credit_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000.0,0.0,877.5,0.0,877.5,1700.325,1800.0,1800.0,0.000,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000.0,2250.0,2250.0,0.0,0.0,2250.000,2250.0,2250.0,60175.080,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000.0,0.0,0.0,0.0,0.0,2250.000,2250.0,2250.0,26926.425,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000.0,2250.0,2250.0,0.0,0.0,11795.760,11925.0,11925.0,224949.285,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000.0,0.0,11547.0,0.0,11547.0,22924.890,27000.0,27000.0,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0

In [5]:
des = pd.read_pickle(ROOT + "/data/pkl/description.p")
des_credit_balance = des[des["Table"] == "credit_card_balance"]

In [6]:
df_info = EDA.df_info(credit_balance).reset_index()
df_merged = pd.merge(df_info, des_credit_balance[["Row", "Description", "Special"]], 
                     left_on="index", right_on="Row", how="left").drop(columns=["Row"])
df_merged

Shape: (3840312, 23)

,index,DataType,#Nulls,#Uniques,Min,Mean,Std,Max,top10 val,top10 cnt,top10 ratio,Description,Special
0,SK_ID_PREV,int64,0,104307,1000018.000,1.904504e+06,536469.470563,2843496.000,"2332261, 2293769, 2095912, 1891521, 1009803, 2439434, 2726169, 1623541, 1039039, 1411165","96, 96, 96, 96, 96, 96, 96, 96, 96, 96","0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0",NaN,NaN
1,SK_ID_CURR,int64,0,103558,100006.000,2.783242e+05,102704.475133,456250.000,"186401, 311118, 120076, 128827, 246089, 191826, 432607, 116448, 264667, 173773","192, 178, 140, 129, 128, 128, 128, 127, 127, 127","0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0",ID of loan in our sample,hashed
2,MONTHS_BALANCE,int64,0,96,-96.000,-3.452192e+01,26.667751,-1.000,"-4, -5, -3, -6, -7, -2, -8, -9, -10, -11","102115, 100546, 100355, 98577, 95332, 94643, 91419, 86842, 82525, 78441","0.027, 0.026, 0.026, 0.026, 0.025, 0.025, 0.024, 0.023, 0.021, 0.02",Month of balance relative to application date (-1 means the freshest balance date),time only relative to the application
3,AMT_BALANCE,float64,0,1347904,-420250.185,5.830016e+04,106307.031024,1505902.185,"0.0, 67.5, 130.5, 270.0, 135.0, 202.5, 450.0, 1345.5, 92043.0, 46570.5","2156420, 16049, 3662, 2313, 921, 742, 536, 312, 252, 235","0.562, 0.004, 0.001, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0",Balance during the month of previous credit,NaN
4,AMT_CREDIT_LIMIT_ACTUAL,float64,0,181,0.000,1.538080e+05,165145.699525,1350000.000,"0.0, 180000.0, 135000.0, 45000.0, 90000.0, 67500.0, 450000.0, 112500.0, 225000.0, 270000.0","753823, 529292, 430142, 329932, 319996, 308866, 238197, 182429, 162053, 125935","0.196, 0.138, 0.112, 0.086, 0.083, 0.08, 0.062, 0.048, 0.042, 0.033",Credit card limit during the month of the previous credit,NaN
5,AMT_DRAWINGS_ATM_CURRENT,float64,749816,2267,-6827.310,5.961325e+03,28225.688578,2115000.000,"0.0, 4500.0, 9000.0, 45000.0, 2250.0, 22500.0, 13500.0, 6750.0, 18000.0, 90000.0","2665718, 35851, 27726, 22946, 22854, 22676, 21198, 14712, 13318, 12034","0.694, 0.009, 0.007, 0.006, 0.006, 0.006, 0.006, 0.004, 0.003, 0.003",Amount drawing at ATM during the month of the previous credit,NaN
6,AMT_DRAWINGS_CURRENT,float64,0,187005,-6211.620,7.433388e+03,33846.077333,2287098.315,"0.0, 4500.0, 9000.0, 2250.0, 45000.0, 22500.0, 13500.0, 6750.0, 18000.0, 90000.0","3223443, 30257, 22968, 20212, 18947, 18670, 16964, 12658, 10729, 10169","0.839, 0.008, 0.006, 0.005, 0.005, 0.005, 0.004, 0.003, 0.003, 0.003",Amount drawing during the month of the previous credit,NaN
7,AMT_DRAWINGS_OTHER_CURRENT,float64,749816,1832,0.000,2.881696e+02,8201.989345,1529847.000,"0.0, 3343.5, 6682.5, 4455.0, 8910.0, 46800.0, 4680.0, 9360.0, 23400.0, 5571.0","3078163, 782, 460, 441, 319, 242, 235, 216, 209, 195","0.802, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0",Amount of other drawings during the month of the previous credit,NaN
8,AMT_DRAWINGS_POS_CURRENT,float64,749816,168748,0.000,2.968805e+03,20796.887047,2239274.160,"0.0, 450.0, 900.0, 2250.0, 4500.0, 1350.0, 225.0, 45000.0, 1800.0, 2700.0","2825595, 1287, 976, 910, 801, 784, 609, 462, 407, 379","0.736, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0",Amount drawing or buying goods during the month of the previous credit,NaN
9,AMT_INST_MIN_REGULARITY,float64,305236,312266,0.000,3.540204e+03,5600.154122,202882.005,"0.0, 9000.0, 6750.0, 3375.0, 4500.0, 2250.0, 5625.0, 7875.0, 8100.0, 10800.0","1928864, 225429, 147469, 127613, 124979, 108350, 82303, 53931, 34436, 28194","0.502, 0.059, 0.038, 0.033, 0.033, 0.028, 0.021, 0.014, 0.009, 0.007",Minimal installment for this month of the previous credit,NaN
10,AMT_PAYMENT_CURRENT,float64,767988,163209,0.000,1.028054e+04,36078.084953,4289207.445,"0.0, 9000.0, 4500.0, 6750.0, 13500.0, 22500.0, 11250.0, 3375.0, 18000.0, 5625.0","390507, 257297, 143572, 128296, 100454, 56016, 45497, 44600, 37897, 35591","0.102, 0.067, 0.037, 0.033, 0.026, 0.015, 0.012, 0.012, 0.01, 0.009",How much did the client pay during the month on the previous credit,NaN
11,AMT_PAYMENT_TOTAL_CURRENT,float64,0,182957,0.000,7.588857e+03,32005.987768,4278315.690,"0.0, 9000.0, 4500.0, 6750.0, 13500.0, 22500.0, 3375.0, 11250.0, 5625.0, 18000.0","2172223, 250826, 139736, 126483, 94005, 49059, 44678, 42999, 35558, 34154","0.566, 0.065, 0.036, 0.033, 0.024, 0.013, 0.012, 0.011, 0.009, 0.009",How much did the client pay during the month in total on the previous credit,NaN
12,AMT_RECEIVABLE_PRINCIPAL,float64,0,1195839,-423305.820,5.596588e+04,102533.616846,1472316.795,"0.0, 45000.0, 90000.0, 135000.0, 67500.0, 180000.0, 112500.0, 22500.0, 225000.0, 157500.0","2296167, 5072, 4767, 4513, 3537, 3256, 2034, 1283, 1229, 1212","0.598, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.0, 0.0, 0.0",Amount receivable for principal on the previous credit,NaN
13,AMT_RECIVABLE,float64,0,1338878,-420250.185,5.808881e+04,105965.369908,1493338.185,"0.0, 67.5, 270.0, 130.5, 135.0, 202.5, 45000.0, 450.0, 90000.0, 135000.0","2113816, 3144, 2301, 825, 756, 699, 645, 310, 264, 255","0.55, 0.001, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0",Amount receivable on the previous credit,NaN
14,AMT_TOTAL_RECEIVABLE,float64,0,1339008,-420250.185,5.809829e+04,105971.801104,1493338.185,"0.0, 67.5, 270.0, 130.5, 135.0, 202.5, 45000.0, 450.0, 90000.0, 135000.0","2113643, 3144, 2301, 825, 756, 699, 645, 310, 264, 255","0.55, 0.001, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0",Total amount receivable on the previous credit,NaN
15,CNT_DRAWINGS_ATM_CURRENT,float64,749816,44,0.000,3.094490e-01,1.100401,51.000,"0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0","2665718, 213460, 95647, 46730, 26335, 14910, 9179, 5718, 3992, 2427","0.694, 0.056, 0.025, 0.012, 0.007, 0.004, 0.002, 0.001, 0.001, 0.001",Number of drawings at ATM during this month on the previous credit,NaN
16,CNT_DRAWINGS_CURRENT,int64,0,129,0.000,7.031439e-01,3.190347,165.000,"0, 1, 2, 3, 4, 5, 6, 7, 8, 9","3229952, 231319, 116762, 65318, 43290, 28987, 20768, 15872, 12345, 9534","0.841, 0.06, 0.03, 0.017, 0.011, 0.008, 0.005, 0.004, 0.003, 0.002",Number of drawings during this month on the previous credit,NaN
17,CNT_DRAWINGS_OTHER_CURRENT,float64,749816,11,0.000,4.812496e-03,0.082639,12.000,"0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 10.0","3077688, 11354, 1076, 259, 65, 27, 11, 9, 3, 3","0.801, 0.003, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0",Number of other drawings during this month on the previous credit,NaN
18,CNT_DRAWINGS_POS_CURRENT,float64,749816,133,0.000,5.594791e-01,3.240649,165.000,"0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0","2825594, 72216, 41061, 27337, 20273, 15149, 12133, 9773, 7993, 6627","0.736, 0.019, 0.011, 0.007, 0.005, 0.004, 0.003, 0.003, 0.002, 0.002",Number of drawings for goods during this month on the previous credit,NaN
19,CNT_INSTALMENT_MATURE_CUM,float64,305236,121,0.000,2.082508e+01,20.051494,120.000,"0.0, 5.0, 2.0, 4.0, 6.0, 3.0, 1.0, 7.0, 8.0, 9.0","551467, 91691, 91035, 89941, 89829, 89492, 87306, 87177, 86882, 81423","0.144, 0.024, 0.024, 0.023, 0.023, 0.023, 0.023, 0.023, 0.023, 0.021",Number of paid installments on the previous credit,NaN
20,NAME_CONTRACT_STATUS,object,0,7,NaN,NaN,NaN,NaN,"Active, Completed, Signed, Demand, Sent proposal, Refused, Approved","3698436, 128918, 11058, 1365, 513, 17, 5","0.963, 0.034, 0.003, 0.0, 0.0, 0.0, 0.0","Contract status (active signed,...) on the previous credit",NaN
21,SK_DPD,int64,0,917,0.000,9.283667e+00,97.515700,3260.000,"0, 1, 8, 32, 7, 62, 31, 366, 93, 18","3686957, 90369, 2772, 2340, 1797, 1406, 1290, 959, 899, 837","0.96, 0.024, 0.001, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0",DPD (Days past due) during the month on the previous credit,NaN
22,SK_DPD_DEF,int64,0,378,0.000,3.316220e-01,21.479231,3260.000,"0, 1, 8, 7, 32, 5, 31, 18, 12, 62","3750972, 83080, 1729, 1176, 492, 406, 291, 253, 125, 114","0.977, 0.022, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0",DPD (Days past due) during the month with tolerance (debts with low loan amounts are ignored) of the previous credit,NaN

In [7]:
id = credit_balance["SK_ID_PREV"].unique()
prev[prev["SK_ID_PREV"].isin(id)]["NAME_CONTRACT_TYPE"].unique()

array(['Revolving loans'], dtype=object)